@charset "UTF-8";
/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* 20/16 */
/* Form */
/* ======================================================================== */
@import "../fonts/icon/style.css";
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway/Raleway-Regular.eot?") format("eot"), url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url('../fonts/Raleway/Raleway-Regular.svg#str-replace("Raleway", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Raleway/Raleway-Bold.eot?") format("eot"), url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url('../fonts/Raleway/Raleway-Bold.svg#str-replace("Raleway", " ", "_")') format("svg");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  position: relative;
  box-sizing: content-box;
}

.wrapper {
  min-height: 100%;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  transition: all 0.3s;
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Raleway";
  color: #000;
  line-height: 1.2;
  font-size: calc(.05 * 100vw + 0px);
}
@media (min-width: 768px) {
  body {
    font-size: calc(.01111111 * 100vw + 0px);
  }
}
@media (min-width: 1921px) {
  body {
    font-size: 1em;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  font-size: 1em;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
  flex-grow: 1;
}

.container_center, .footer__row, .header__content {
  max-width: 71.874em;
  padding: 0 1.25em;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 2.5em 0;
}
.section:first-child {
  padding-top: 0;
}
.section__title {
  font-weight: 400;
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
  background-color: #ffffff;
  padding-bottom: 1.25em;
}
@media (min-width: 768px) {
  .header {
    box-shadow: 0 4px 7px 0 #00000021;
    padding-bottom: 0;
  }
}
.header__content {
  margin: auto;
}
@media (min-width: 768px) {
  .header__content {
    position: relative;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0 1.5em;
}
@media (max-width: 767px) {
  .header__top {
    position: relative;
    z-index: 11;
  }
}
@media (min-width: 768px) {
  .header__top {
    padding: 2em 0;
    margin-left: 11.875em;
  }
}
.header__social {
  width: 36%;
}
@media (min-width: 768px) {
  .header__social {
    width: auto;
  }
}
.header__logo {
  position: relative;
  z-index: 11;
}
@media (min-width: 768px) {
  .header__logo {
    position: absolute;
    top: 1.5em;
    left: 1.25em;
    z-index: auto;
  }
}
.header__toggle {
  position: absolute;
}
@media (max-width: 767px) {
  .header__toggle {
    top: 4.75em;
    right: 1.25em;
    width: 1.375em;
    height: 1em;
    color: #000;
    border: 0.125em solid;
    border-left: 0;
    border-right: 0;
    z-index: 51;
    cursor: pointer;
  }
  .header__toggle:after, .header__toggle:before {
    content: "";
    display: inline-block;
    border-top: 0.125em solid;
    position: absolute;
    top: 50%;
    margin-top: -0.0625em;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
  }
  .header__toggle.active {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .header__toggle.active:before {
    transform: rotate(45deg);
  }
  .header__toggle.active:after {
    transform: rotate(-45deg);
  }
  .header__toggle_open {
    border: 0;
    position: fixed;
  }
  .header__toggle_open:after, .header__toggle_open:before {
    content: "";
    border-top: 0.125em solid #000;
  }
  .header__toggle_open:before {
    transform: rotate(45deg);
  }
  .header__toggle_open:after {
    transform: rotate(-45deg);
  }
}
.logo {
  display: inline-block;
  width: 6.125em;
  height: 2.625em;
}
@media (min-width: 768px) {
  .logo {
    width: 8.5em;
    height: 3.5625em;
  }
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .header .navbar {
    position: fixed;
    right: 20em;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    width: 20em;
    z-index: 10;
    overflow: hidden;
    margin-top: 8em;
    padding: 0 1em 2em;
    text-align: center;
    transition: right 0.3s;
    height: 100%;
    overflow-y: auto;
  }
  .header .navbar_open {
    right: 0;
  }
}
.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .header .menu {
    display: flex;
    justify-content: space-between;
  }
}
.header .menu-item {
  padding-bottom: 1.75em;
}
@media (min-width: 768px) {
  .header .menu-item {
    margin-right: 0.5em;
  }
  .header .menu-item:last-child {
    margin-right: 0;
  }
}
.header .menu-item a {
  text-decoration: none;
  color: #2C2C2C;
  font-size: 1.125em;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .menu-item a {
    position: relative;
  }
}
@media (min-width: 768px) {
  .header .menu-item a:after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    width: 0;
    opacity: 0;
    border-bottom: 0.0625em solid;
    transition: 0.3s;
  }
}
.header .menu-item a i {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.75em;
  transform: scale(1);
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .header .menu-item:hover > a:after {
    left: 0;
    width: 100%;
    opacity: 1;
  }
}
.header .menu-item:hover i {
  transform: scale(-1);
}
.header .menu-item-has-children {
  position: relative;
}
.header .menu-item-has-children .menu-item {
  padding-bottom: 0.75em;
}
.header .menu-item-has-children .menu-item:last-child {
  padding-bottom: 0;
}
.header .menu-item-has-children:hover .sub-menu {
  height: auto;
  opacity: 1;
  top: 80%;
  visibility: visible;
}
.header .sub-menu {
  margin: auto;
  padding: 0 2em;
  list-style: none;
  width: -webkit-max-content;
  width: max-content;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.3s;
  background: #ffffff;
  z-index: 10;
}
.header .sub-menu a {
  font-size: 0.85em;
}
@media (max-width: 767px) {
  .header .sub-menu .menu-item:first-child {
    padding-top: 1em;
  }
}
@media (min-width: 768px) {
  .header .sub-menu {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0.5em 2em 1em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
}
.header .current-menu-item > a:after {
  left: 0;
  width: 100%;
  opacity: 1;
}
.header .nav-open {
  overflow: hidden;
}

.discount {
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
  background-image: url("../img/first_bg_mob.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .discount .container_center, .discount .footer__row, .discount .header__content {
    position: relative;
  }
}
.discount:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -10%, rgba(255, 255, 255, 0.86) 100%);
}
@media (min-width: 768px) {
  .discount {
    position: initial;
    padding-bottom: 2.5em;
  }
  .discount:before {
    content: none;
  }
}
@media (min-width: 768px) {
  .discount {
    background-image: none;
  }
}
.discount__bg {
  background-image: none;
}
@media (min-width: 768px) {
  .discount__bg {
    position: absolute;
    top: 0;
    right: -9em;
    width: 50em;
    height: 100%;
    background-image: url("../img/first_bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.discount__content {
  padding: 1em 0 2.5em;
}
@media (min-width: 768px) {
  .discount__content {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 35.625em;
    width: 38em;
  }
}
.discount__title {
  font-size: 1em;
  margin: 0 0 1.625em;
  text-align: center;
}
@media (min-width: 768px) {
  .discount__title {
    margin: 0 0 2.875em;
    text-align: left;
  }
}
.discount__title span {
  font-size: 1.6875em;
  font-weight: bold;
  letter-spacing: 0.045em;
}
@media (min-width: 768px) {
  .discount__title span {
    font-size: 3.25em;
  }
}
.discount__list {
  margin-left: 2em;
}
.discount__item {
  position: relative;
  letter-spacing: 0.065em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .discount__item {
    margin-bottom: 1.125em;
  }
}
.discount__item:last-child {
  margin-bottom: 0;
}
.discount__item:before {
  content: "";
  font-family: "icomoon";
  position: absolute;
  left: -2em;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(247, 82, 5, 0.63);
}
.discount__item span {
  font-size: 1em;
}
@media (min-width: 768px) {
  .discount__item span {
    font-size: 1.0625em;
  }
}

.personeinfo__form {
  background-color: #FCFCFC;
  border-radius: 1.25em;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  padding: 1.25em 1.75em;
}
@media (min-width: 768px) {
  .personeinfo__form {
    padding: 2.5em 4.25em 2.8125em;
  }
}

@media (min-width: 768px) {
  .aboutus__content {
    display: flex;
    gap: 1.875em;
  }
}
.aboutus__left {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.19);
  border-radius: 1.25em;
  padding: 1.25em 0.9375em;
  margin-bottom: 3.75em;
}
@media (min-width: 768px) {
  .aboutus__left {
    padding: 0 0.75em 2.125em;
    width: 100%;
    margin-bottom: 0;
  }
}
.aboutus__gallery {
  margin-bottom: 1.875em;
}
@media (min-width: 768px) {
  .aboutus__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.375em;
  }
}
.aboutus__item {
  position: relative;
  color: #37A38D;
  margin-bottom: 0.875em;
  /* 14/16 */
}
@media (min-width: 768px) {
  .aboutus__item {
    margin-bottom: 1.25em;
    margin-bottom: 1.25em;
    width: 50%;
  }
}
.aboutus__item span {
  margin-left: 2.5em;
  font-size: 0.8125em;
}
@media (min-width: 768px) {
  .aboutus__item span {
    font-size: 0.9375em;
  }
}
.aboutus__item i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.aboutus__item .icon-list {
  font-size: 1.125em;
}
@media (min-width: 768px) {
  .aboutus__item .icon-list {
    font-size: 1.35em;
  }
}
.aboutus__item .icon-hand {
  font-size: 0.75em;
}
@media (min-width: 768px) {
  .aboutus__item .icon-hand {
    font-size: 0.9em;
  }
}
.aboutus__item .icon-car {
  font-size: 1.125em;
}
@media (min-width: 768px) {
  .aboutus__item .icon-car {
    font-size: 1.35em;
  }
}
.aboutus__item .icon-question {
  font-size: 1.25em;
}
@media (min-width: 768px) {
  .aboutus__item .icon-question {
    font-size: 1.5em;
  }
}
.aboutus__action {
  margin-top: 1.75em;
}
.aboutus__action .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .aboutus__action {
    margin-top: 0.625em;
    margin-left: 0.625em;
  }
  .aboutus__action .btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  .aboutus__right {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20.7501em 6.6255em;
    grid-row-gap: 0.75em;
    grid-column-gap: 1.25em;
  }
  .gallery__item {
    border-radius: 0.75em;
    overflow: hidden;
  }
  .gallery__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 0;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    margin: 0 -0.75em;
  }
  .gallery__item:nth-child(4) {
    position: relative;
  }
  .gallery__item:nth-child(4) a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gallery__item:nth-child(4) a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
  }
  .gallery__item:nth-child(4) a:before {
    content: attr(data-quantity);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.065em;
  }
  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__item:nth-child(n+5) {
    display: none;
  }
}

.video__bg {
  position: relative;
  min-height: 17.5em;
  border-radius: 1.25em;
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .video__bg {
    min-height: 34.375em;
  }
}
.video__play {
  position: absolute;
  bottom: -2em;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.19);
  font-size: 0.7em;
}
@media (min-width: 768px) {
  .video__play {
    font-size: 1em;
    right: -2.5em;
    transform: scale(1);
    transition: transform 0.3s;
  }
  .video__play:hover {
    transform: scale(1.2);
  }
}
.video__play:after, .video__play:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 0.125em solid #F75205;
  transform: translate(-50%, -50%), scale(1);
}
.video__play:before {
  width: 3.75em;
  height: 3.75em;
  opacity: 0.53;
  animation: 1s pulse1 infinite;
}
.video__play:after {
  width: 4.5em;
  height: 4.5em;
  opacity: 0.75;
  animation: 1s pulse2 infinite;
}
.video__play .icon-play {
  font-size: 1.75em;
  font-weight: bold;
  color: #F75205;
  margin-right: -0.25em;
}
.video__label {
  letter-spacing: 0.065em;
}
.video__label span {
  font-weight: bold;
  font-size: 1.4375em;
  /* 23/16 */
}
@media (min-width: 768px) {
  .video__label span {
    font-size: 1.875em;
  }
}

@keyframes pulse1 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    opacity: 0.3;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@keyframes pulse2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}
/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  background: #FFFFFF;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.09);
  padding-top: 0.5em;
}
.footer__content:last-child {
  background-color: #F4F4F4;
}
.footer__row {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}
@media (min-width: 768px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
  }
}
.footer__col {
  margin-bottom: 1.875em;
}
.footer__col:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__col {
    margin-bottom: 0;
  }
}
.footer__logo {
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-bottom: 1em;
  }
}
.footer__info {
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .footer__info {
    margin-bottom: 2.625em;
    line-height: 1.471;
  }
}
.footer__info span {
  font-size: 0.8125em;
  /* 13/16 */
}
@media (min-width: 768px) {
  .footer__info span {
    font-size: 1.0625em;
  }
}
.footer__img {
  width: 14.75em;
  height: 4.625em;
}
.footer__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__nav .navbar {
  display: flex;
}
.footer__nav .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 2.25em;
}
.footer__nav .menu-item {
  margin-bottom: 1.25em;
}
.footer__nav .menu-item:last-child {
  margin-bottom: 0;
}
.footer__nav a {
  color: #000;
  font-size: 0.875em;
  /* 14/16 */
}
@media (min-width: 768px) {
  .footer__nav a {
    font-size: 1.0625em;
  }
}
.footer__phone {
  margin-bottom: 1.375em;
}
@media (min-width: 768px) {
  .footer__phone {
    margin-bottom: 2em;
  }
}
.footer__phone a {
  color: #37A38D;
}
.footer__phone .phone__link {
  display: flex;
  align-items: center;
}
.footer__phone .phone__content {
  font-weight: bold;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
.footer__social {
  margin-bottom: 1.375em;
}
@media (min-width: 768px) {
  .footer__social {
    margin-bottom: 2em;
  }
}
.footer__social .social {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__social .social__label {
    margin-right: 1.5em;
  }
  .footer__social .social__label span {
    color: #37A38D;
    font-size: 1em;
    font-weight: bold;
  }
}
.footer__social .social__item {
  margin-right: 1em;
}
.footer__social .social__item:last-child {
  margin-right: 0;
}
.footer__email .email__link {
  display: flex;
  align-items: center;
}
.footer__email .email__content {
  margin-left: 0.75em;
}
.footer__adress {
  line-height: 1;
}
@media (min-width: 768px) {
  .footer__adress {
    line-height: 1.2;
    max-width: 28em;
  }
}
.footer__adress span {
  font-size: 0.8125em;
  color: #616161;
}
@media (min-width: 768px) {
  .footer__adress span {
    font-size: 1.0625em;
  }
}

.developer {
  display: flex;
  align-items: center;
}
.developer__logo {
  display: inline-block;
  width: 5.0625em;
  height: 2.3125em;
}
@media (min-width: 768px) {
  .developer__logo {
    width: 6.5em;
    height: 3em;
  }
}
.developer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.developer__label {
  margin-left: 0.5em;
}
@media (min-width: 768px) {
  .developer__label {
    margin-left: 0.25em;
  }
}
.developer__label span {
  font-size: 0.8125em;
}
@media (min-width: 768px) {
  .developer__label span {
    font-size: 1.0625em;
  }
}

.form_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}
.form_grid .form__row {
  width: 100%;
  margin: 0 0.25em 1em;
}
@media (min-width: 768px) {
  .form_grid .form__row {
    margin: 0 0.25em 1.25em;
  }
}
@media (min-width: 768px) {
  .form_grid .form__row {
    width: calc(50% - 0.5em);
  }
}
@media (min-width: 768px) {
  .form_grid .form__row_20 {
    width: calc(20% - 0.5em);
  }
}
.form_grid .form__row_10 {
  width: calc(50% - 0.5em);
}
@media (min-width: 768px) {
  .form_grid .form__row_10 {
    width: calc(10% - 0.5em);
  }
}
.form_grid .form__row_full {
  width: 100%;
}
@media (min-width: 768px) {
  .form_grid .form__row_order1 {
    order: 1;
  }
  .form_grid .form__row_order2 {
    order: 2;
  }
  .form_grid .form__row_order3 {
    order: 3;
  }
  .form_grid .form__row_order4 {
    order: 4;
  }
  .form_grid .form__row_order5 {
    order: 5;
  }
  .form_grid .form__row_order6 {
    order: 6;
  }
  .form_grid .form__row_order7 {
    order: 7;
  }
}
.form__row .btn,
.form__row input:not([type]),
.form__row input[type=date],
.form__row input[type=email],
.form__row input[type=number],
.form__row input[type=password],
.form__row input[type=search],
.form__row input[type=tel],
.form__row input[type=text],
.form__row input[type=url],
.form__row textarea {
  width: 100%;
}
.form__row textarea {
  min-height: 5.875em;
  resize: vertical;
}
.form__check {
  display: flex;
  align-items: center;
}
.form__check span {
  margin-left: 0.5em;
}

input:not([type]),
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  background-color: #ffffff;
  border: 0.0625em solid #9C9C9C;
  font-family: "Raleway";
  color: #000;
  padding: 0.924em 0.75em;
  outline: none;
  font-size: 0.8125em;
  font-weight: 400;
  border-radius: 0.625em;
  transition: 0.3s;
  letter-spacing: 0.065em;
}
input:not([type]):hover,
input[type=date]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
textarea:hover {
  border: 0.0625em solid #ddd;
}
input:not([type]):focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
  border: 0.0625em solid #ddd;
}
input:not([type]).invalid,
input[type=date].invalid,
input[type=email].invalid,
input[type=number].invalid,
input[type=password].invalid,
input[type=search].invalid,
input[type=tel].invalid,
input[type=text].invalid,
input[type=url].invalid,
textarea.invalid {
  border: 0.0625em solid #F4976C;
}
input:not([type])::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9E9E9E;
}
input:not([type]):-moz-placeholder,
input[type=date]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=url]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #9E9E9E;
}
input:not([type])::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9E9E9E;
}
input:not([type]):-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9E9E9E;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  height: 0.875em;
  /* 14/16 */
  width: 0.875em;
  /* 14/16 */
  color: #aaa;
  background: 0 0;
  border: 0.0625em solid;
  /* 1/16 */
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  text-align: center;
  position: relative;
}
input[type=checkbox]:not(:disabled), input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer;
}
input[type=checkbox]:before, input[type=checkbox]:before,
input[type=radio]:before,
input[type=radio]:before {
  display: block;
}
input[type=checkbox]:disabled, input[type=checkbox]:disabled,
input[type=radio]:disabled,
input[type=radio]:disabled {
  color: #ddd;
}

input[type=checkbox]:checked:before, input[type=checkbox]:indeterminate:before {
  content: "";
  width: 40%;
  height: 60%;
  color: #000;
  margin-top: -0.1875em;
  border-right: 0.0625em solid;
  border-bottom: 0.0625em solid;
  transform: rotate(45deg);
}
input[type=checkbox]:indeterminate:before {
  content: "";
}
input[type=checkbox]:disabled:checked:before, input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa;
}

.select2-hidden-accessible {
  display: none;
}
.select2-search__field {
  display: none;
}
.select2-container span {
  display: block;
}
.form__row .select2-container {
  width: 100% !important;
}
.select2-container--open {
  z-index: 1050;
}
.select2-container--default .select2-results__options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.select2-container--default .select2-results__option {
  padding: 0.971em 1.175em;
  cursor: pointer;
  color: rgba(29, 29, 27, 0.5);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #F4976C;
  color: #ffffff;
}
.select2-container--default .select2-results__option--selected {
  background: #F4976C;
  color: #ffffff;
}
.select2-container--default .select2-dropdown {
  position: absolute;
  background-color: #ffffff;
  border-radius: 0.625em;
  /* 10/16 */
  margin-top: 0;
  border: none;
  border-top: 0;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.select2-container--default .select2-selection {
  background-color: #ffffff;
  border: 0.0625em solid #9C9C9C;
  font-family: "Raleway";
  color: #000;
  padding: 1.001em 0.75em;
  outline: none;
  font-size: 0.8125em;
  font-weight: 400;
  border-radius: 0.625em;
  transition: 0.3s;
  letter-spacing: 0.065em;
  /* 1/16 */
  outline: none;
  /* 10/16 */
  transition-property: color background border;
  width: 100%;
  height: auto;
  position: relative;
}
.select2-container--default .select2-selection:hover {
  border-color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}
.select2-container--default .select2-selection:focus {
  border-color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1;
  padding: 0 1em 0 0;
  color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #9E9E9E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.5em;
  padding-bottom: 0.3em;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow {
  padding-bottom: 0;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  display: block;
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(-135deg);
  margin-bottom: 0.5em;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0.5em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: auto;
  top: auto;
  margin: auto;
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(45deg);
}
.select2-container--default.select2-container--open {
  z-index: 1050;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  padding-bottom: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(-135deg);
}
.form__date .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(45deg);
}
.select2-container--default.select2-container--disabled .select2-selection {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  font-family: "Raleway";
  color: #000;
  padding: 0.971em 1.175em;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  transition: 0.3s;
  transition-property: color background border;
  width: 100%;
  height: auto;
  position: relative;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #FFFFFF;
}
.select2-container--default.select2-container--disabled .select2-selection__rendered {
  color: rgba(29, 29, 27, 0.5);
}

.btn {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 0.875em;
  /* 14/16 */
  font-weight: bold;
  padding: 0.875em 1.25em;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #ddd;
  text-align: center;
  min-width: 15em;
  cursor: pointer;
  border-radius: 3.625em;
  letter-spacing: 0.065em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
  transition-property: background color border-color;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.0625em;
  }
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: width 0.5s;
  background: linear-gradient(163.11deg, #4560CD 11.69%, #6CF4F4 88.4%);
}
.btn:hover {
  text-decoration: none;
}
.btn:hover:before {
  width: 150%;
}
.btn:disabled {
  color: red;
  cursor: not-allowed;
}
.btn_success:before {
  background: linear-gradient(268.34deg, #3EC8AC 0.85%, #37A38D 99.02%);
}
.btn_info:before {
  background: linear-gradient(184.16deg, #38488A 3.39%, #4565E8 96.61%);
}
.btn_sm {
  font-size: 0.875em;
  min-width: 7em;
  padding: 0.75em 1.25em;
}
@media (min-width: 768px) {
  .btn_sm {
    font-size: 0.9375em;
  }
}
.btn_form {
  min-width: 100%;
  background: #F4976C;
  box-shadow: none;
  border-radius: 0.625em;
  padding: 0.618em 1.25em;
}
.btn_form:before {
  content: none;
}

.phone__link {
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  .phone__link {
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  .phone__link:hover {
    color: #303C6C;
  }
}
.phone__icon {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .phone__icon {
    font-size: 1.125em;
  }
}
@media (min-width: 768px) {
  .phone__content {
    font-size: 1.0625em;
    font-weight: bold;
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}

.email__link {
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  .email__link {
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  .email__link:hover {
    color: #303C6C;
  }
}
.email__icon {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .email__icon {
    font-size: 1.125em;
  }
}
@media (min-width: 768px) {
  .email__content {
    font-size: 1.0625em;
    margin-left: 0.75em;
  }
}

.social {
  width: 100%;
}
@media (min-width: 768px) {
  .social {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .social__label {
    margin-right: 1.875em;
  }
  .social__label span {
    font-size: 1.0625em;
    color: #37A38D;
    font-weight: bold;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.social__item {
  font-size: 0.75em;
}
@media (min-width: 768px) {
  .social__item {
    font-size: 1em;
    margin-right: 1em;
  }
  .social__item:last-child {
    margin-right: 0;
  }
}
.social__link {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.0625em;
  height: 2.0625em;
  border: 0.1875em solid #000;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .social__link {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .social__link:hover {
    transform: scale(1.2);
  }
}
.social__viber {
  color: #9747FF;
  border-color: #9747FF;
}
.social__whatsapp {
  color: #4ECB71;
  border-color: #4ECB71;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-open {
  overflow: hidden;
}
.modal-close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  right: 1em;
  top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.modal-close:after, .modal-close:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-top: 2px solid;
}
.modal-close:before {
  transform: rotate(45deg);
}
.modal-close:after {
  transform: rotate(-45deg);
}
.modal-close:hover {
  opacity: 0.8;
}
.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
}
.modal.in {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
  position: relative;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: auto;
  width: 40em;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  padding: 1em 1.1em;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 1em 0;
  /* 16/16 */
  min-height: 1em;
  /* 16/16 */
  color: #666;
  font-size: 1.125em;
  /* 18/16 */
}
.modal-header .close {
  margin-top: -0.125em;
  /* 2/16 */
}
.modal-title {
  margin: 0;
  line-height: 1.4;
}
.modal-body {
  position: relative;
  padding: 0;
}
.modal-footer {
  margin-top: 1em;
  /* 16/16 */
  padding: 1.25em;
  /* 20/16 */
  text-align: right;
  border-top: 0.0625em solid #e5e5e5;
  /* 1/16 */
}
.modal-footer .btn + .btn {
  margin-left: 0.3125em;
  /* 5/16 */
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -0.0625em;
  /* 1/16 */
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modalVideo .modal-dialog {
  max-width: 19.25em;
  width: 100%;
}
@media (min-width: 768px) {
  .modalVideo .modal-dialog {
    max-width: 73.25em;
  }
}
.modalVideo .modal-content {
  padding: 0;
  background: none;
}
.modalVideo .modal-close {
  right: 1em;
  top: -2em;
  color: #ffffff;
}
@media (min-width: 768px) {
  .modalVideo .modal-close {
    right: -2em;
    top: -3em;
  }
}
.modalVideo__wraper {
  width: 100%;
  height: 10.75em;
}
@media (min-width: 768px) {
  .modalVideo__wraper {
    height: 41.25em;
  }
}
.modalVideo__wraper iframe {
  width: 100%;
  height: 100%;
}

.swiper {
  padding-bottom: 2.5em;
}

.swiper-slide {
  height: 9.875em;
  border-radius: 1.25em;
  overflow: hidden;
  /* 158/16 */
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  z-index: 50;
  height: 5px;
  width: 70%;
  border-radius: 2.5em;
  /* 40/16 */
}

.swiper-scrollbar-drag {
  background: #FF905D;
}