@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6p194k');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6p194k#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6p194k') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6p194k') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6p194k##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-glass {
  &:before {
    content: $icon-glass; 
  }
}
.icon-arrow-bottom {
  &:before {
    content: $icon-arrow-bottom; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-top {
  &:before {
    content: $icon-arrow-top; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-hand {
  &:before {
    content: $icon-hand; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-main-home {
  &:before {
    content: $icon-main-home; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-plus-bold {
  &:before {
    content: $icon-plus-bold; 
  }
}
.icon-car {
  &:before {
    content: $icon-car; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-arrow_long {
  &:before {
    content: $icon-arrow_long; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}

