$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-play: "\e900";
$icon-glass: "\e906";
$icon-arrow-bottom: "\e911";
$icon-arrow-right: "\e904";
$icon-arrow-top: "\e907";
$icon-mail: "\e905";
$icon-question: "\e901";
$icon-viber: "\e902";
$icon-whatsapp: "\e903";
$icon-quote: "\e908";
$icon-star: "\e909";
$icon-hand: "\e90a";
$icon-home: "\e90b";
$icon-main-home: "\e912";
$icon-plus: "\e90c";
$icon-plus-bold: "\e90d";
$icon-car: "\e90e";
$icon-phone: "\e90f";
$icon-list: "\e910";
$icon-arrow_long: "\e913";
$icon-location: "\e914";

