// Breadcrumb ==================================================================

.breadcrumbs {
	padding-bottom: 0;
	@media (min-width: 768px) {
		padding-top: 1.25em!important;
		// padding-bottom: 1.125em;

	}

	.kama_breadcrumbs {
		letter-spacing: 0.1em;
		line-height: 0.9;

		@media (min-width: 768px) {
			letter-spacing: 0.25em;
		}

		a,
		span {
			text-decoration: none;
			color: #FFD7C4;
		}

		span {}

		span {
			font-size: 0.75em;
			@media (min-width: 768px) {
				font-size: 0.9375em;
			}

			> a {
				> span {
					font-size: 1em;
				}
			}
		}

		i {
			font-size: 0.75em;
		}

		.kb_sep {
			transform: translateY(-0.2em)rotate(-90deg);
			display: inline-block;
			margin: 0 0.5em;

			i {
				font-size: 0.75em;
			}

		}

		.kb_title {
			color: $color_warning;
			transition: color 0.3s;
		}

	}
}
