// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;

	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 768px) {
		// font-size: calc(.012 * 100vw + 0px);
		font-size: calc(.01111111 * 100vw + 0px);
	}

	@media (min-width: 1200px) {
		// font-size: calc(.00838 * 100vw + 0px);
	}

	// @media (min-width: 1921px) {
	// 	font-size: $main_font_size;
	// }
	@media (min-width: 1600px) {
		font-size: $main_font_size;
	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;
	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	padding: 0 1.25em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 2.5em 0;

	&:first-child {
		padding-top: 0;
	}

	&__title {
		margin: 0;
		letter-spacing: 0.065em;
		font-size: 1em;
		margin-bottom: 2.5em;
		line-height: 1.4;

		@media (min-width: 768px) {
			margin-bottom: 5em;
		}

		span {
			font-weight: bold;
			font-size: 1.625em;

			@media (min-width: 768px) {
				font-size: 2.1875em;

			}

			&:last-child {
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: -3.5em;
					// transform: translateY(-50%);
					width: 2.143em;
					border-bottom: 0.086em solid #2B0099;
				}
			}

		}

		&_noneLine {
			@media (max-width: 767px) {
				span {
					&:last-child {
						&:after {
							content: none;

						}
					}
				}
			}
		}

	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// * {
// 	border: 1px solid #000;
// }
