.contacts {
    &__row {
        @media (min-width: 768px) {
            margin-bottom: 2em;
            margin-bottom: 3.75em;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    &__col {
        margin-bottom: 1em;

        .phone__link {
            display: flex;
        }

        .social {
            display: flex;
            align-items: center;
        }

        .email__link {
            display: flex;
            align-items: center;
        }

        @media (max-width: 767px) {
            .phone__content {
                margin: 0 0.5em;
            }

            .social__label {
                margin-right: 0.5em;
            }

            .social__item {
                margin: 0 0.5em;
            }

            .email__icon {
                margin-right: 0.5em;
            }

            .location > i {
                margin-right: 0.5em;
            }
        }

        @media (min-width: 768px) {
            margin-bottom: 0;

            .phone__link {
                font-size: 1.25em;
            }

            .social__label {
                span {
                    font-size: 1.25em;
                    color: #010101;

                }
            }

            .email__link {
                font-size: 1.25em;
            }

            .location {
                span {
                    font-size: 1.25em;
                }

                i {
                    margin-right: 1em;
                    font-weight: bold;
                }
            }
        }
    }

    &__map {}

}

.map {
    &__content {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 0.9375em;
        padding-bottom: 14.375em;
        @media (min-width: 768px) {
            padding-bottom: 29.6875em;
            /* 475/16 */

        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

}
