.content {
    &__date {
        letter-spacing: 0.03em;

        span {
            color: $color_warning;
            font-size: 1.25em;
            font-weight: 700;
        }
    }

    &__content {
        letter-spacing: 0.065em;

        h2,
        h3 {
            font-weight: bold;
        }

        h2 {
            font-size: 1.4375em;
            @media (min-width: 768px) {
                font-size: 1.875em;

            }
        }

        h3 {
            font-size: 1.1875em;
            @media (min-width: 768px) {
                font-size: 1.5625em;
            }
        }

        ul {
            list-style: none;
            padding-left: 2.125em;
            @media (min-width: 768px) {
                padding-left: 4.5em;
            }

            li {
                position: relative;
                margin-bottom: 1em;

                @media (min-width: 768px) {
                    font-size: 1.25em;
                }

                &:before {
                    display: block;
                    content: '\e90b';
                    font-family: 'icomoon';
                    position: absolute;
                    top: 0;
                    left: -2em;
                    @media (min-width: 768px) {
                        left: -3em;
                    }

                    color: transparent;
                    background-image: linear-gradient(180deg, #303C6C 0%, #F4976C 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }

        ol {
            list-style: none;
            padding-left: 2.125em;
            @media (min-width: 768px) {
                padding-left: 4.5em;
            }
            counter-reset: line var(--line-num, 0);

            li {
                position: relative;
                margin-bottom: 1em;
                counter-increment: line;
                @media (min-width: 768px) {
                    font-size: 1.25em;
                }

                &:before {
                    content: counter(line) '';
                    position: absolute;
                    top: 0;
                    left: -1.75em;
                    @media (min-width: 768px) {
                        left: -2.75em;

                    }

                }
            }
        }

        p {
            @media (min-width: 768px) {
                font-size: 1.25em;
            }
        }

        blockquote {
            position: relative;
            border-radius: 0.8125em;
            background: rgba(209, 253, 254, 0.6);
            margin: 1em 0;
            padding: 6.75em 0.9375em 1.25em;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
                padding: 2.5em 2.8125em 2.5em 8.375em;
            }

            &:after,
            &:before {
                position: absolute;
            }

            &:before {
                content: '\e908';
                font-family: 'icomoon';
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.375em;
                height: 2.375em;
                border-radius: 50%;
                background-color: $color_white;

                top: 1em;
                left: 50%;
                transform: translateX(-50%);

                @media (min-width: 768px) {
                    top: 1em;
                    left: 2.25em;
                    transform: none;
                }

            }

            &:after {
                content: '';
                display: block;
                background-color: $color_white;

                top: 5em;
                left: 50%;
                transform: translateX(-50%);
                width: 5.375em;
                height: 0.125em;

                @media (min-width: 768px) {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 7em;
                    width: 0.125em;
                    height: 70%;
                }
            }

            p {
                margin: 0;
                color: #303C6C;
                font-size: 0.875em;
                @media (min-width: 768px) {
                    font-size: 1.25em;

                }
            }

        }

        .wp-block-table {
            margin: 0;
            overflow-y: hidden;
            overflow-x: auto;
            width: 100%;

            @media (min-width: 768px) {
                width: 46.5em;
                overflow-y: auto;
            }

            table {
                width: 100%;
                text-align: left;
                border-spacing: 1em 1em;
                padding-bottom: 1em;
                font-size: 0.5em;
                @media (min-width: 768px) {
                    font-size: 1em;
                    padding-bottom: 0;

                }
            }

            em {
                padding: 0.625em 0;
                margin: 0.625em 0;
            }

            td,
            th {
                font-size: 1.25em;
            }

            thead {

                // border-radius: 0.9375em;

                th {
                    padding: 1.375em 1.875em;
                    border-radius: 0.9375em;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                    background-color: $color_white;

                    // &:first-child {
                    //     border-top-left-radius: 0.9375em;
                    //     border-bottom-left-radius: 0.9375em;
                    // }
                    //
                    // &:last-child {
                    //     border-top-right-radius: 0.9375em;
                    //     border-bottom-right-radius: 0.9375em;
                    // }
                }
            }

            tbody {
                tr {
                    transition: background-color 0.4s;
                }

                td {
                    padding: 1.125em 1.875em;
                    background-color: $color_white;
                    border-radius: 0.9375em;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                }

                tr {
                    // &:nth-child(2n) {
                    //     background-color: #ebebeb;
                    // }
                    //
                    // &:hover {
                    //     background-color: #c5c3c3;
                    // }
                }

            }

            // tfoot {
            //     background-color: $main_color;
            //     color: $color_white;
            //
            //     td {
            //         border-right: 0.125em solid $color_white;
            //         /* 2/16 */
            //
            //         &:last-child {
            //             border-right: none;
            //         }
            //     }
            //
            // }
        }

    }
}
