extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin discount
    section#discount.discount.section
        .container_center
            .discount__bg.desktop
            .discount__content
                h1.discount__title
                    span Скидки в пансионате “Забота и Любовь”
                ul.discount__list.list
                    each item in ['При оплате за 4 месяца скидка 200 рублей', '3 дня проживания БЕСПЛАТНО (при оплате за месяц)', 'Пеленки/памперсы/гигиеническое белье на 30 дней в подарок (при оплате за 3 месяца)', 'Скидки для ветеранов ВОВ' ]
                        li.discount__item
                            span=item

    // end discount

    // begin personeinfo
    section#personeinfo.personeinfo.section
        .container_center
            .personeinfo__form
                form.form.form_grid(action="send.php")
                    //- из какой формы на сайте
                    input(type="hidden" name="subject" value="форма в футоре")
                    //- проверка спама
                    input(type="hidden" name="notspam" value="")

                    .form__row.form__row_full.form__row_order1
                        textarea(type="text", placeholder="Ваш вопрос")
                    .form__row.form__row_20.form__row_order2
                        select.select(data-placeholder="Помощь в питании")
                            option(value="")
                            option(value="Да") Да
                            option(value="Нет") Нет
                    .form__row.form__row_20.form__row_order4
                        select.select(data-placeholder="Малоподвижность")
                            option(value="")
                            option(value="Да") Да
                            option(value="Нет") Нет
                    .form__row.form__row_10.form__row_order3
                        select.select(data-placeholder="Пол")
                            option(value="")
                            option(value="М") М
                            option(value="Ж") Ж

                    .form__row.form__row_10.form__row_order5
                        input(type="number", placeholder="Возраст")
                    .form__row.form__row_20.form__row_order6
                        input.tel_js(type="text", required placeholder="+375 (_ _) _ _ _ - _ _ - _ _")
                    .form__row.form__row_20.form__row_order7
                        .button
                            button.btn.btn_form#btn_didisabled_js(type="submit") Отправить

        .personeinfo__fon.fon.fon_left

    // end personeinfo

    // begin aboutus
    section#aboutus.aboutus.section
        .container_center
            .aboutus__content
                .aboutus__left
                    .aboutus__gallery

                        .aboutusSlider.swiper.aboutusSlider-js.mobile
                            .aboutusSlider__wrapper.swiper-wrapper
                                each item in [ 1,1,1,1,1,1,1,1 ]
                                    .aboutusSlider__slide.swiper-slide
                                        a(href="/img/gallery.webp" data-fancybox data-type="image")
                                            img(src="/img/gallery.webp" loading="lazy")
                            //- .swiper-pagination
                            .swiper-scrollbar

                        .gallery.itemForDataFancybox-js.desktop
                            .gallery__item
                                a(href="/img/gallery.webp" data-fancybox data-type="image")
                                    img(src="/img/gallery.webp" loading="lazy")
                            .gallery__item
                                a(href="/img/gallery.webp" data-fancybox data-type="image")
                                    img(src="/img/gallery.webp" loading="lazy")
                            .gallery__item
                                a(href="/img/gallery.webp" data-fancybox data-type="image")
                                    img(src="/img/gallery.webp" loading="lazy")
                            .gallery__item.gallery__item_number
                                a(href="/img/gallery.webp" data-fancybox data-quantity=12 data-type="image")
                                    img(src="/img/gallery.webp" loading="lazy")
                            .gallery__item
                                a(href="/img/gallery.webp" data-fancybox data-type="image")
                                    img(src="/img/gallery.webp" loading="lazy")

                    ul.aboutus__list.list
                        li.aboutus__item
                            i.icon-list
                            span Оформление
                        li.aboutus__item
                            i.icon-hand
                            span Реабилитация
                        li.aboutus__item
                            i.icon-car
                            span Перевозка больных
                        li.aboutus__item
                            i.icon-question
                            span Досуг
                    .aboutus__action
                        a(href="#").btn.btn_sm.btn_info О пансионате

                .aboutus__right
                    .video
                        .video__bg.bg(style="background-image: url('/img/video_bg.webp')")
                            .video__play.js-youtubeModal#gvrSH5z5EGQ
                                i.icon-play
                        .video__label
                            span 3D - тур
        .aboutus__fon.fon.fon_right

    // end aboutus

    // begin stocks
    section#stocks.stocks.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Акции
            .stocks__grid
                a.stocks__item.bg.info(href="#" style="background-image: url('/img/video_bg.webp')")
                    .stocks__content
                        .stocks__date
                            span 28.06.2022
                        .stocks__title
                            span Скидки до 10% в пансионате “Забота и Любовь”
                a.stocks__item.bg.warning(href="#" style="background-image: url('/img/video_bg.webp')")
                    .stocks__content
                        .stocks__date
                            span 28.06.2022
                        .stocks__title
                            span Скидки до 10% в пансионате “Забота и Любовь”
                a.stocks__item.bg.full(href="#" style="background-image: url('/img/video_bg.webp')")
                    .stocks__content
                        .stocks__date
                            span 28.06.2022
                        .stocks__title
                            span Переехать к нам еще проще!
            .stocks__action
                a.btn.btn_info(href="#") Все акции и скидки

    // end stocks

    // begin description
    section#description.description.section
        .container_center

            .description__wrap
                h2.section__title.section__title_noneLine(data-aos="fade-up")
                    span Частный дом престарелых <br>
                    span “Забота и Любовь”
                .description__bg.bg(href="#" style="background-image: url('/img/description.webp')")
                .description__content
                    p Пансионат находится в тихом живописном месте на берегу реки Волма, по соседству с одноименным санаторием "Волма". В этом месте вы не просто получите заботу и любовь, это место вдали от шума и суеты. На территории вы можете увидеть яблоневый сад, пасеку пчёл и тепличные сооружения.
                    p При желании все это вы можете использовать как свой собственный огород.
                    p Мы разработали для вас все условия для комфортного проживания и создали уютный уголок для того, чтобы старость не была скучной и однообразной.
        .description__fon.fon.fon_left

    // end description

    // begin rehabilitation
    section#rehabilitation.rehabilitation.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Реабилитация <br>
                span пожилых
            .rehabilitation__grid
                a.rehabilitation__item(href="#")
                    .rehabilitation__title
                        span Реабилитация при деменции
                    .rehabilitation__img
                        img(src="/img/description.webp" loading="lazy")
                    .rehabilitation__text
                        span Индивидуальные беседы и групповые занятия с психологом, ЛФК, контроль приема медикаментов, сбалансированное питание, профессиональный уход 24 часа в сутки.
                    .rehabilitation__action
                        .rehabilitation__arrow
                            i.icon-arrow-right
                        .rehabilitation__label
                            span Реабилитация

                a.rehabilitation__item(href="#")
                    .rehabilitation__title
                        span Реабилитация при Альцгеймера
                    .rehabilitation__text
                        span Включает поддержание интеллектуальной активности, соблюдение режима дня, сбалансированное питание, занятия с психологом, контроль за приемом лекарств.
                    .rehabilitation__action
                        .rehabilitation__arrow
                            i.icon-arrow-right
                        .rehabilitation__label
                            span Реабилитация

                a.rehabilitation__item(href="#")
                    .rehabilitation__title
                        span Реабилитация при Альцгеймера
                    .rehabilitation__text
                        span Включает поддержание интеллектуальной активности, соблюдение режима дня, сбалансированное питание, занятия с психологом, контроль за приемом лекарств.
                    .rehabilitation__action
                        .rehabilitation__arrow
                            i.icon-arrow-right
                        .rehabilitation__label
                            span Реабилитация
                a.rehabilitation__item(href="#")
                    .rehabilitation__title
                        span Реабилитация при деменции
                    .rehabilitation__img
                        img(src="/img/description.webp" loading="lazy")
                    .rehabilitation__text
                        span Индивидуальные беседы и групповые занятия с психологом, ЛФК, контроль приема медикаментов, сбалансированное питание, профессиональный уход 24 часа в сутки.
                    .rehabilitation__action
                        .rehabilitation__arrow
                            i.icon-arrow-right
                        .rehabilitation__label
                            span Реабилитация

            .rehabilitation__button
                a.btn(href="#") Все программы
        .rehabilitation__fon.fon.fon_right

    // end rehabilitation

    // begin callback
    section#callback.callback.section
        .container_center
            h2.section__title.section__title_noneLine(data-aos="fade-up")
                span Заказать <br>
                span обратный звонок
            .callback__form
                // begin form
                form.form.form_grid(action="send.php")
                    //- из какой формы на сайте
                    input(type="hidden" name="subject" value="форма в футоре")
                    //- проверка спама
                    input(type="hidden" name="notspam" value="")

                    .form__row
                        input(type="text", placeholder="Ваше имя")
                    .form__row
                        input.tel_js(type="text", required placeholder="+375 (_ _) _ _ _ - _ _ - _ _")
                    .form__row.form__row_70
                        label.form__check
                            input.check_checked_js(type="checkbox" checked="checked")
                            span Согласен на <a href="#" target="_blank">обработку персональных данных</a>
                    .form__row.form__row_30
                        .button
                            button.btn.btn_success.btn_didisabled_js(type="submit") Отправить заявку
                // end form

    // end callback

    // begin photogallery
    section#photogallery.photogallery.section
        .container_center
            h2.section__title.section__title_noneLine(data-aos="fade-up")
                span Жизнь в нашем <br>
                span доме престарелых
            .photogallery__content
                .tabs-wrapper
                    .tabs
                        each item in ['Забота', 'Постояльцы', 'Мероприятия', 'Интерьер', 'Прогулки']
                            span.tab=item

                    .tabs-content
                        each item in ['', '', '', '', '' ]
                            .tab-item

                                .photogallerySlider.swiper.photogallerySlider-js
                                    .photogallerySlider__wrapper.swiper-wrapper.itemForDataFancybox-js
                                        each item in [ 1,2,3,4,5,6,7,8,9,10,11,12,13 ]
                                            .photogallerySlider__slide.swiper-slide
                                                a(href="/img/gallery.webp" data-fancybox data-type="image")
                                                    img(src="/img/gallery.webp" loading="lazy")
                                    .swiper-pagination.desktop
                                    .swiper-scrollbar.mobile
        .photogallery__fon.fon.fon_left

    // end photogallery

    // begin reviews
    section#reviews.reviews.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Отзывы

            .reviewsSlider.swiper.reviewsSlider-js
                .reviewsSlider__wrapper.swiper-wrapper
                    each item in [1,2,3,4,5,6]
                        .reviewsSlider__slide.swiper-slide
                            .reviews__item
                                .reviews__content
                                    .reviews__name
                                        span Логинов Владимир Николаевич
                                    .reviews__info
                                        .reviews__star
                                            ul.star.list
                                                each item in [1,2,3,4,5]
                                                    li.star__item
                                                        i.icon-star
                                        .reviews__date
                                            span 24.08.2022
                                    .reviews__text
                                        span Хочу сказать сотрудникам пансионата спасибо за неравнодушное отношение к пожилым людям. Вы делатее большое дело! Мой дедушка живет тут почти 2 месяца. Отзывается о ...
                                    .reviews__link
                                        a(href="#") Читать далее
                                .reviews__img
                                    img(src="/img/gallery.webp", loading="lazy")
                //- .swiper-pagination.desktop
                .swiper-scrollbar.mobile
            .reviewsSlider__pagination.desktop

            .reviews__action
                a.btn(href="#") Все отзывы
        .reviews__fon.fon.fon_right

    // end reviews

    // begin blog
    section#blog.blog.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Блог
            .blogSlider.swiper.blogSlider-js
                .blogSlider__wrapper.swiper-wrapper
                    .blogSlider__slide.swiper-slide
                        a.blog__item.bg.info(href="#" style="background-image: url('/img/video_bg.webp')")
                            .blog__content
                                .blog__date
                                    span 28.06.2022
                                .blog__title
                                    span День рождения

                    .blogSlider__slide.swiper-slide
                        a.blog__item.bg.warning(href="#" style="background-image: url('/img/video_bg.webp')")
                            .blog__content
                                .blog__date
                                    span 28.06.2022
                                .blog__title
                                    span День рождения

                    .blogSlider__slide.swiper-slide
                        a.blog__item.bg.full(href="#" style="background-image: url('/img/video_bg.webp')")
                            .blog__content
                                .blog__date
                                    span 28.06.2022
                                .blog__title
                                    span День рождения
                .swiper-scrollbar.mobile
            .blog__action
                a.btn(href="#") Все новости
        .blog__fon.fon

    // end blog

    // begin faq
    section#faq.faq.section
        .container_center
            .faq__bg.bg(style="background-image: url('/img/question-answer.webp')")
            h2.section__title.section__title_noneLine(data-aos="fade-up")
                span Часто задаваемые вопросы
            .faq__content
                .faq__collapse
                    each item in ['Что такое Дом престарелых?', 'Почему дома для пожилых востребованы?', 'Есть ли в пансионате психолог?', 'Для чего нужно такое заведение?', 'Где прочесть отзывы о данном пансионате?', ]

                        .collapse(data-collapse-wrapper="")
                            .collapse__title(data-collapse="")
                                span=item
                            .collapse__body(data-collapse-body="")
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                p  Lorem ipsum do
        .faq__fon.fon
    // end faq

    // begin content
    section#content.content.section
        .container_center
            .content__content
                h2 Заголовок 2 уровень
                h3 Заголовок 3 уровень

                ul
                    li Заведение, которое заботиться о пенсионерах, как о родных. Коммерческий хоспис для стариков и ветеранов в Минске;
                    li Отличная возможность подарить своему родственнику спокойную и счастливую старость под присмотром квалифицированных сотрудников.
                    li Отличная возможность подарить своему родственнику спокойную и счастливую старость под присмотром квалифицированных сотрудников.

                br

                ol
                    li Заведение, которое заботиться о пенсионерах, как о родных. Коммерческий хоспис для стариков и ветеранов в Минске;
                    li Отличная возможность подарить своему родственнику спокойную и счастливую старость под присмотром квалифицированных сотрудников.
                    li Отличная возможность подарить своему родственнику спокойную и счастливую старость под присмотром квалифицированных сотрудников.
                br

                blockquote
                    p Отличная возможность подарить своему родственнику спокойную и счастливую старость под присмотром квалифицированных сотрудников.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    // end content


