extends layout/layout.pug

block content

    // begin testnav
    section#testnav.testnav.section
        .container_center

            br
            h2.section__title
                span Навигация
            .testnav__content
                ul
                    li
                        a(href="home") главная

    // end testnav

    // begin example
    section#example.example.section
        .container_center
            h2.section__title
                span button example
            .example__content
                a(href="#").btn Все новости
                br
                br
                br
                a(href="#").btn.btn_success Отправить заявку
                br
                br
                br
                a(href="#").btn.btn_info Все акции и скидки
                br
                br
                br
                a(href="#").btn.btn_sm.btn_info О пансионате
                br
                br
                br
                a(href="#").btn.btn_form Отправить


    // end example
